<div class="container body-content jumbotron" ng-controller="tarefaCtrl">
    <ul class="body-content" style="display: flex; flex-direction: column;" ;>
        <li ng-repeat="tarefa in Tarefas" style="display: flex;">
            <div style="display: flex; flex: 1; justify-content: space-between;">
                <span style="flex: 1;">{{tarefa.Descricao}} </span>
                <span style="flex: 1;">{{tarefa.DataHora}}</span>
                <span style="flex: 1;">{{tarefa.StatusTarefa}}</span>
            </div>
        </li>
    </ul>
    <div style="display: flex; justify-content: space-around;">
        <input type="text" ng-model="inputTarefa" class="form-control" placeholder="Sua tarefa">
        <input type="datetime-local" ng-model="inputHoraData" class="form-control" min="2020-01-01T00:00" value="2020-01-01T12:00:00.000">
        <button ng-click="incluirNovaTarefaNaLista()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>